<!DOCTYPE html>
<html>
<head>
    <title>Расчет прибыли</title>
</head>
<body>
    <h1>Расчет прибыли</h1>
    <form action="/calculate" method="POST">
        <label for="volume">Литраж:</label>
        <input type="number" id="volume" name="volume" required>
        <br>
        <label for="cost">Себестоимость духов:</label>
        <input type="number" id="cost" name="cost" required>
        <br>
        <label for="expenses">Дополнительные расходы:</label>
        <input type="number" id="expenses" name="expenses" required>
        <br>
        <button type="submit">Рассчитать</button>
    </form>
    <br>
    <h2>Результат:</h2>
    <pre>
        <% if (result) { %>
        Прибыль: <%= result.profit.toFixed(2) %>
        
        Себестоимость: <%= result.cost.toFixed(2) %>
        
        <% } %>
    </pre>
    
</body>
</html>
